/* Slider */

.slick-slider {
    max-width: 1464px;
    margin: 50px auto 30px;
    padding: 0 92px;
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include breakpoint($break-700) {
        padding: 0;
    }
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 20px 0 0;
    &:focus {
        outline: none;
    }
    .slick-loading & {
        background: white url(../images/ajax-loader.gif) center center no-repeat;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: auto;
    min-height: 1px;
    display: none;
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Arrows */

.slick-prev,
.slick-next,
.slick-prev:focus,
.slick-next:focus {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: white;
    transition: background-color 0.2s linear;
    color: transparent;
    top: 285px;
    margin-top: -25px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    &:focus {
        outline: none;
    }
    &.slick-disabled, &.slick-disabled:focus, &.slick-disabled:hover {
        background: white;
        opacity: 0.25;
        cursor: default;
    }
}

.slick-prev:before, .slick-next:before {
	@extend .sans-semi;
	position: absolute;
	width: 32px;
	height: 28px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: $sprites-x2;
	background-size: $sprites-x2-size;
	content: '';
}

.slick-prev {
    left: 20px;
    &:before {
		background-position: -50px 0;
    }
}

.slick-next {
    right: 20px;
    &:before {
		background-position: -100px 0;
    }
}

// .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
.slick-prev:hover, .slick-next:hover {
	background: $color-brand-2;
}

/* Dots */

/* the slides */
.slick-slide {
	margin: 0 1px;
}
/* the parent */
.slick-list {
	margin: 0 -1px;
}


/* Dots */
.slick-dots {
    position: absolute;
    left: 0;
    bottom: -60px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0px 5px;
        padding: 0px;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 10px;
            width: 10px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            outline: none;
            &:focus {
                outline: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 10px;
                height: 10px;
                text-align: center;
                background-color: $color-brand-1;
                opacity: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                border-radius: 50%;
            }
        }
        &.slick-active button:before {
        	background-color: $color-brand-2;
        	opacity: 1;
        }
    }
    @include breakpoint($break-400) {
        li {
            width: 5px;
            height: 5px;
            button {
                width: 5px;
                height: 5px;
                &:before {
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }
}