/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Selectric

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. Selectric
    ========================================================================== */

	.selectric-wrapper {
		margin: 21px auto 60px;
		width: 100%;
		max-width: 325px;
  		box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
	}

	.selectric {
		height: 41px;
		border-radius: 3px;
		border: none;

		.label {
			margin: 0;
			padding-left: 21px;
			height: 41px;
			line-height: 41px;
			@include font-size(16);
			@extend .sans-semi;
			color: $dark-blue;
		}

		.button {
			width: 49px;
			height: 41px;
			background-color: $color-brand-2;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			color: white;

			&:after {
				width: 13px;
				height: 9px;
				background: $sprites-x2 no-repeat 0 0 transparent;
				background-size: $sprites-x2-size;
				border: none;
				@include transition(transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000));
			}
		}
	}
	.selectric-open .selectric .button {
		color: white;
		&:after {
			transform: rotate(180deg);
		}
	}

	.selectric-items {
		margin-top: 1px;
		padding: 15px 6px;
		// padding-left: 6px;
		// padding-right: 8px;
		border-radius: 3px;
		border: none;
		@include scrollbars(6px, $dark-blue);
 		 box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.3);
	}
	.selectric-items li {
		width: calc(100% - 9px) !important;
		border: none;
		@include font-size(16);
		@extend .sans-light;
		color: $dark-blue;
	}
	.selectric-items li:hover {
		background: #efefef;
	}
	
	.selectric-items li.selected {
		 background: $color-brand-2;
		 color: white;
	}




