.icon-wrapper {
	position: relative;
	@include cf();
	height: 140px;
	background: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.icon {
	position: absolute;
	background: $sprites-x2 no-repeat;
	background-size: $sprites-x2-size;
	left: 50%;
	top: 23px;
	transform: translateX(-50%);
}

.icon-news {
	@extend .icon;
	width: 42px;
	height: 42px;
	background-position: 0 -50px;
}

.icon-business {
	@extend .icon;
	width: 47px;
	height: 42px;
	background-position: -50px -50px;
}

.icon-sport {
	@extend .icon;
	width: 42px;
	height: 42px;
	background-position: -100px -50px;
}

.icon-politics {
	@extend .icon;
	width: 43px;
	height: 42px;
	background-position: -150px -50px;
}

.icon-broadcast {
	@extend .icon;
	width: 35px;
	height: 46px;
	background-position: -200px -50px;
}

.icon-finance {
	@extend .icon;
	width: 48px;
	height: 42px;
	background-position: -250px -50px;
}

.icon-agri-farming {
	@extend .icon;
	width: 48px;
	height: 40px;
	background-position: -300px -50px;
}

.icon-technology {
	@extend .icon;
	width: 42px;
	height: 42px;
	background-position: -350px -50px;
}

.icon-entertainment {
	@extend .icon;
	width: 46px;
	height: 46px;
	background-position: -400px -50px;
}

.icon-columnist {
	@extend .icon;
	width: 40px;
	height: 40px;
	background-position: -450px -50px;
}

.icon-health {
	@extend .icon;
	width: 42px;
	height: 46px;
	background-position: -250px -100px;
}

.icon-food {
	@extend .icon;
	width: 43px;
	height: 46px;
	background-position: -200px -100px;
}

.icon-property {
	@extend .icon;
	width: 26px;
	height: 42px;
	background-position: -300px -100px;
}

.icon-fashion {
	@extend .icon;
	width: 33px;
	height: 44px;
	background-position: -150px -100px;
}

.icon-arts {
	@extend .icon;
	width: 47px;
	height: 40px;
	background-position: 0px -100px;
}

.icon-editorial {
	@extend .icon;
	width: 39px;
	height: 39px;
	background-position: -100px -100px;
}

.icon-beauty {
	@extend .icon;
	width: 36px;
	height: 46px;
	background-position: -50px -100px;
}



