@charset "UTF-8";
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* 	==========================================================================
   	Typography
   	========================================================================== */
/* 	==========================================================================
   	Breakpoints
   	========================================================================== */
/* 	==========================================================================
   	Colours
   	========================================================================== */
/* 	==========================================================================
   	Transitions
   	========================================================================== */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #00a2d1; }

html, body {
  height: 100%; }

.wrapper {
  height: 100%; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #00a2d1;
  text-shadow: none; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality; }

.sans-light, body, .section-title, .top-100-badge span {
  font-family: "open-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-style: normal; }

.sans-semi, strong,
p.bold, .btn, .btn-expand, .top-100-badge, .top-num, .top-params-title, .top-params-name, .top-params-num, .params-panel-item, #ff-stream-1 .ff-loadmore-wrapper .ff-btn {
  font-family: "open-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-style: normal; }

.serif, blockquote, .section-intro, .gain-job, .top-params-job {
  font-family: "ff-meta-serif-web-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-style: normal; }

.serif-italic, .murray-subtitle, .header-intro {
  font-family: "ff-meta-serif-web-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-style: italic; }

html {
  font-size: 62.5%; }

body {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  color: #ffffff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25; }

h1 {
  font-size: 37px;
  font-size: 3.7rem; }

h2 {
  font-size: 23px;
  font-size: 2.3rem; }

h3 {
  font-size: 18px;
  font-size: 1.8rem; }

h4 {
  font-size: 16px;
  font-size: 1.6rem; }

h5 {
  font-size: 16px;
  font-size: 1.6rem; }

h6 {
  font-size: 14px;
  font-size: 1.4rem; }

p {
  margin: 0 0 0.75rem; }

a {
  color: #00a2d1;
  text-decoration: none; }
  a:hover {
    color: #006785; }
  a:active, a:focus {
    color: #006785;
    outline: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e8e8e8;
  margin: 1.5rem 0;
  padding: 0; }

cite {
  color: white;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Shame custom styles
   ========================================================================== */
/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Base Testimonial
    2. Colour Variants

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. Base Testimonial
    ========================================================================== */
blockquote {
  position: relative;
  width: 654px;
  margin: 50px auto;
  color: #005872;
  text-align: center;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.3;
  padding: 50px 0; }
  blockquote:before, blockquote:after {
    position: absolute;
    top: 20px;
    left: -40px;
    content: '“';
    font-size: 72px;
    font-size: 7.2rem;
    color: #ed30a0; }
  blockquote:after {
    left: auto;
    right: -40px;
    content: '”'; }
  @media (max-width: 1200px) {
    blockquote {
      font-size: 18px;
      font-size: 1.8rem;
      margin: 20px auto; } }
  @media (max-width: 800px) {
    blockquote {
      width: 70%;
      margin: 10px auto; } }

/*  ==========================================================================
    2. Colour Variants
    ========================================================================== */
/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.btn, .btn-expand {
  display: block;
  height: 30px;
  background-color: #00a2d1;
  border-radius: 15px;
  padding: 0 20px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear; }
  .btn:hover, .btn-expand:hover {
    color: white;
    background-color: #ed30a0; }
  .btn:active, .btn-expand:active, .btn:visited, .btn-expand:visited, .btn:focus, .btn-expand:focus {
    color: white; }

.btn-expand {
  padding-right: 30px; }
  .btn-expand:after {
    position: absolute;
    top: 9px;
    right: 11px;
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    color: #00a2d1;
    background: url(../images/icon-plus.svg) top left no-repeat transparent;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.525, 1.65, 0.475, 1.005);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.525, 1.65, 0.475, 1.005);
    transition: transform 0.3s cubic-bezier(0.525, 1.65, 0.475, 1.005);
    border-radius: 50%; }

.btn-expanded {
  background-color: #ed30a0; }
  .btn-expanded:after {
    transform: rotate(45deg); }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.footer {
  background-color: #005872;
  border-top: 47px solid white;
  min-height: 400px; }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Section

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. Section
    ========================================================================== */
.header-inner, .top-100-wrapper, .gains-wrapper, .media-wrapper, .twitter-wrapper {
  max-width: 1640px;
  margin: 0 auto; }

.section {
  padding: 150px 20px; }
  @media (max-width: 800px) {
    .section {
      padding: 100px 20px; } }

.section-title, .section-intro {
  margin: 0 auto 20px;
  max-width: 800px;
  padding: 0 20px;
  text-align: center; }

.section-title {
  text-transform: uppercase;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2; }
  @media (max-width: 800px) {
    .section-title {
      font-size: 28px;
      font-size: 2.8rem; } }

.section-intro {
  font-size: 21px;
  font-size: 2.1rem;
  opacity: 0.5;
  line-height: 1.4; }
  @media (max-width: 800px) {
    .section-intro {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (max-width: 800px) {
    .section-intro {
      padding: 0; } }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Header

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. Header
    ========================================================================== */
.header {
  background: url("../images/bg-header-opt-@2x.png") top center no-repeat, linear-gradient(to right, #39bdcd, #00a2d1 48%, #005872);
  background-size: cover;
  height: 100%;
  max-height: calc(100% - 50px);
  min-height: 450px; }
  @media (max-width: 1200px) {
    .header {
      height: auto;
      min-height: 1px;
      max-height: 10000px; } }
  @media (max-width: 700px) {
    .header {
      height: auto;
      min-height: 1px;
      max-height: 10000px; } }
  @media (max-height: 1000px) {
    .header {
      height: auto;
      min-height: 1px;
      max-height: 10000px; } }

.header-inner {
  height: 100%;
  position: relative; }

.header-top {
  *zoom: 1; }
  .header-top:before, .header-top:after {
    content: '';
    display: table; }
  .header-top:after {
    clear: both; }

.murray-logo {
  display: block;
  width: 56px;
  height: auto;
  margin-top: 34px;
  margin-left: 30px;
  float: left; }

.murray-subtitle {
  display: block;
  float: left;
  margin: 56px 0 0 20px;
  font-size: 18px;
  font-size: 1.8rem;
  color: #005872; }
  .murray-subtitle span {
    color: white; }

.header-content {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-55%);
  padding: 0 20px;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .header-content {
      position: static;
      transform: none;
      padding-top: 30px;
      padding-bottom: 100px; } }
  @media (max-height: 1000px) {
    .header-content {
      position: static;
      transform: none;
      padding-top: 30px;
      padding-bottom: 100px; } }

.header-logo {
  display: block;
  position: relative;
  right: -10%;
  min-width: 240px; }
  @media (max-width: 700px) {
    .header-logo {
      max-width: 300px;
      right: -30px;
      float: right; } }
  @media (max-width: 320px) {
    .header-logo {
      max-width: 260px;
      right: -24px; } }
  @media (max-height: 1000px) {
    .header-logo {
      width: 50vw;
      float: right;
      right: 0; } }

.header-intro {
  max-width: 700px;
  float: right;
  margin: 30px 10% 0;
  font-size: 21px;
  font-size: 2.1rem;
  text-align: right; }
  .header-intro span {
    color: #005872; }
  @media (max-width: 700px) {
    .header-intro {
      margin: 30px 30px 0;
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (max-width: 320px) {
    .header-intro {
      font-size: 16px;
      font-size: 1.6rem; } }

/*  ==========================================================================
    2. 
    ========================================================================== */
/*  ==========================================================================
    ==========================================================================

    HEADER
    1. General
    2. Badge
    3. List

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. General
    ========================================================================== */
.top-100 {
  background-color: white;
  padding-bottom: 1px; }

.top-100-wrapper {
  color: #005872; }

/*  ==========================================================================
    2. Badge
    ========================================================================== */
.top-100-badge-link {
  display: block;
  position: relative;
  top: -143px;
  margin: 0 auto;
  width: 286px;
  height: 286px;
  border-radius: 143px;
  background-color: white; }
  @media (max-width: 1200px) {
    .top-100-badge-link {
      width: 120px;
      height: 120px;
      top: -60px;
      border-radius: 60px; } }
  @media (max-height: 1000px) {
    .top-100-badge-link {
      width: 120px;
      height: 120px;
      top: -60px;
      border-radius: 60px; } }

.top-100-badge {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  margin: 0 auto;
  padding-top: 55px;
  background-color: #ed30a0;
  background: linear-gradient(to right, #ed30a0, #805aa3);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.22);
  color: white;
  text-align: center;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 0.9;
  text-transform: uppercase; }
  .top-100-badge span {
    display: block;
    font-size: 100px;
    font-size: 10rem; }
  @media (max-width: 1200px) {
    .top-100-badge {
      top: 10px;
      left: 10px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      padding-top: 33px;
      line-height: 1;
      font-size: 24px;
      font-size: 2.4rem; }
      .top-100-badge span {
        font-size: 18px;
        font-size: 1.8rem; } }
  @media (max-height: 1000px) {
    .top-100-badge {
      top: 10px;
      left: 10px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      padding-top: 33px;
      line-height: 1;
      font-size: 24px;
      font-size: 2.4rem; }
      .top-100-badge span {
        font-size: 18px;
        font-size: 1.8rem; } }

/*  ==========================================================================
    3. List
    ========================================================================== */
.top-device {
  position: relative;
  width: 1106px;
  height: 782px;
  margin: -120px auto 0;
  background: url(../images/ipad.svg) top left no-repeat; }
  @media (max-width: 1200px) {
    .top-device {
      width: 561px;
      height: 831px;
      margin-top: -50px;
      background: url(../images/ipad-mini.svg) top left no-repeat; } }
  @media (max-width: 700px) {
    .top-device {
      width: 100%;
      height: auto;
      margin-top: -50px 0px 0;
      padding: 0 20px 10px;
      background-image: none; } }
  @media (max-height: 1000px) {
    .top-device {
      margin-top: 0; } }

.top-list-wrapper {
  position: absolute;
  top: 53px;
  left: 104px;
  width: 878px;
  height: 656px;
  margin: 10px 0px 9px 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  @media (max-width: 1200px) {
    .top-list-wrapper {
      width: 473px;
      height: 640px;
      top: 95px;
      left: 44px;
      margin: 0; } }
  @media (max-width: 700px) {
    .top-list-wrapper {
      width: 100%;
      height: 300px;
      position: static; } }

.top-list {
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1; }
  .top-list:before, .top-list:after {
    content: '';
    display: table; }
  .top-list:after {
    clear: both; }

.top-item {
  position: relative;
  width: 415px;
  margin: 0 0 1px;
  padding: 0;
  float: left; }
  .top-item:nth-of-type(even) {
    margin-left: 23px; }
  .top-item:nth-of-type(4n + 1) .top-bar, .top-item:nth-of-type(4n + 2) .top-bar {
    background-color: #39bccd; }
  .top-item:nth-of-type(4n + 1) .top-num, .top-item:nth-of-type(4n + 2) .top-num {
    background-color: #00a2d1; }
  .top-item:nth-of-type(4n + 3) .top-image-wrapper, .top-item:nth-of-type(4n + 4) .top-image-wrapper {
    background-color: #39bccd; }
  .top-item:first-child .top-bar {
    background-color: #ed30a0; }
  .top-item:after, .top-item:before {
    display: block;
    content: '';
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 70px;
    margin-top: 1px; }
  .top-item:before {
    position: absolute;
    width: 345px;
    bottom: -1px;
    background-color: white; }
  @media (max-width: 1200px) {
    .top-item {
      float: none;
      width: 473px; }
      .top-item:nth-of-type(even) {
        margin-left: 0; } }
  @media (max-width: 700px) {
    .top-item {
      width: auto; }
      .top-item:after, .top-item:before {
        display: none; } }

.top-link {
  position: relative;
  display: block;
  height: 63px;
  color: white;
  padding-top: 11px; }
  .top-link:hover {
    color: white; }

.top-image-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 62px;
  border-radius: 36px;
  background-color: #00a2d1; }

.top-image {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  border: 3px solid white; }

.top-bar {
  display: flex;
  height: 41px;
  border-radius: 4px;
  background-color: #00a2d1;
  margin-left: 52px;
  padding-left: 0px;
  font-size: 16px;
  font-size: 1.6rem; }
  @media (max-width: 700px) {
    .top-bar {
      font-family: "open-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      font-size: 1.4rem; } }

.top-num {
  flex-basis: 13%;
  padding-top: 8px;
  padding-left: 8px;
  border-right: 1px solid #f6f6f6;
  background-color: #39bccd;
  color: white;
  text-align: center; }
  @media (max-width: 700px) {
    .top-num {
      padding-top: 10px; } }

.top-handle, .top-name {
  padding-top: 8px;
  padding-left: 10px; }
  @media (max-width: 700px) {
    .top-handle, .top-name {
      padding-top: 10px; } }

.top-handle {
  flex-grow: 1; }

.top-name {
  flex-grow: 1.5; }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.gains {
  position: relative;
  background: linear-gradient(to right, #ed30a0, #0b86a6);
  background-size: auto;
  overflow: hidden; }
  .gains:before {
    position: absolute;
    display: block;
    content: '';
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 1428px;
    height: 259px;
    background: url("../images/bg-gains.svg") top center no-repeat;
    opacity: 0.2; }
    @media (max-width: 800px) {
      .gains:before {
        top: 40px;
        width: 952px;
        height: 172px; } }

.gains-wrapper {
  position: relative; }

.gains-info-wrapper {
  position: relative;
  width: 472px;
  height: 460px;
  margin: 80px auto 0; }
  @media (max-width: 700px) {
    .gains-info-wrapper {
      float: left;
      margin-top: 40px;
      height: auto;
      width: auto;
      left: 50%;
      transform: translateX(-40%); } }

.gains-info {
  display: block;
  width: 472px;
  height: 460px; }
  @media (max-width: 700px) {
    .gains-info {
      display: none; } }

.gains-people {
  position: absolute;
  width: 300px;
  top: -11px;
  left: 338px;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 700px) {
    .gains-people {
      position: static;
      width: auto; } }

.gains-people-item {
  margin: 0 0 2px; }
  @media (max-width: 700px) {
    .gains-people-item {
      margin-bottom: 20px; } }

.gain-title {
  position: relative;
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem; }

.gain-number {
  display: none; }
  @media (max-width: 700px) {
    .gain-number {
      position: absolute;
      top: -5px;
      left: -50px;
      display: block;
      color: #003241;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      text-align: center;
      padding-top: 11px; } }

.gain-name {
  text-transform: uppercase; }

.gain-job {
  margin: 0;
  color: #003241; }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.categories {
  background-image: linear-gradient(#00a2d1, #014b61); }
  .categories .section-title {
    position: relative; }
    .categories .section-title:before {
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      width: 73px;
      height: 66px;
      background: url(../images/icon-categories.svg) center center no-repeat;
      opacity: 0.5; }
      @media (max-width: 800px) {
        .categories .section-title:before {
          top: -60px;
          width: 49px;
          height: 44px; } }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.followers {
  background-image: linear-gradient(to right, #005872, #a63c92); }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Param Items
    2. Param Items Panel

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. Param Items
    ========================================================================== */
.params {
  background-image: linear-gradient(#00a2d1, #014b61); }
  .params .section-title {
    position: relative; }
    .params .section-title:before {
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      width: 47px;
      height: 54px;
      background: url(../images/icon-parameters.svg) center center no-repeat;
      opacity: 0.5; }
      @media (max-width: 800px) {
        .params .section-title:before {
          top: -60px;
          width: 31px;
          height: 36px; } }

.params-wrapper {
  max-width: 1320px;
  margin: 0 auto; }

.top-params {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px 0 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 700px) {
    .top-params {
      display: block; } }

.top-params-item {
  position: relative;
  z-index: 1;
  flex-basis: 49%;
  position: relative;
  margin: 0 0 50px;
  padding: 0;
  background-color: white;
  border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 12.2px 7.8px rgba(0, 0, 0, 0.08); }
  @media (max-width: 1200px) {
    .top-params-item {
      margin-bottom: 20px; } }

.top-params-item-top {
  z-index: 10; }

.top-params-title {
  min-height: 70px;
  background-color: #005872;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: -2px 0;
  padding: 23px 160px;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 1200px) {
    .top-params-title {
      padding-left: 23px;
      text-align: left; } }
  @media (max-width: 900px) {
    .top-params-title {
      height: 110px;
      text-align: center;
      padding: 23px; } }

.params-image-wrapper {
  position: absolute;
  top: -110px;
  left: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #005872; }
  @media (max-width: 1200px) {
    .params-image-wrapper {
      position: absolute;
      top: 10px; } }

.top-params-image {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 88px;
  height: 88px;
  border: 4px solid white;
  border-radius: 44px; }

.top-params-details {
  position: relative;
  min-height: 118px;
  padding: 23px;
  color: #005872; }

.top-params-name {
  margin: 0;
  padding-right: 230px;
  font-size: 36px;
  font-size: 3.6rem; }
  @media (max-width: 1200px) {
    .top-params-name {
      margin-left: 110px;
      font-size: 24px;
      font-size: 2.4rem;
      padding-right: 0; } }

.top-params-job {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem; }
  @media (max-width: 1200px) {
    .top-params-job {
      margin-left: 110px;
      padding-right: 0; } }

.top-params-num {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 195px;
  height: 60px;
  margin-left: 27px;
  padding: 7px 10px 0 0;
  background-color: #ed30a0;
  color: white;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  box-shadow: 1.172px 2.762px 9px 0px rgba(0, 0, 0, 0.16); }
  .top-params-num:before {
    position: absolute;
    top: 0;
    left: -27px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 27px 30px 0;
    border-color: transparent #ed30a0 transparent transparent; }
  @media (max-width: 1200px) {
    .top-params-num {
      position: relative;
      margin: 0 0 0 110px;
      padding-top: 0;
      top: auto;
      right: auto;
      background-color: transparent;
      color: #ed30a0;
      box-shadow: none;
      text-align: left;
      width: auto;
      height: auto; }
      .top-params-num:before {
        display: none; } }

.btn-expand-params {
  position: absolute;
  top: 20px;
  right: 25px; }
  @media (max-width: 900px) {
    .btn-expand-params {
      top: 60px;
      right: auto;
      left: 50%;
      transform: translateX(-50%); } }

/*  ==========================================================================
    2. Param Items Panel
    ========================================================================== */
.params-panel {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 13px 23px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .params-panel:before {
    position: absolute;
    top: -13px;
    right: 60px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 26px 13px 26px;
    border-color: transparent transparent #ffffff transparent; }
  @media (max-width: 900px) {
    .params-panel:before {
      right: auto;
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 900px) {
    .params-panel {
      top: 130px; } }

.params-panel-display {
  opacity: 1;
  top: 70px; }
  @media (max-width: 900px) {
    .params-panel-display {
      top: 110px; } }

.params-panel-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.params-panel-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 0;
  display: flex;
  color: #005872; }

.params-panel-index {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ed30a0;
  color: white;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
  margin-right: 10px; }

.params-panel-pos {
  width: 180px;
  padding-right: 10px; }

.params-panel-link {
  color: #005872; }

.graph-bar {
  position: relative;
  height: 5px;
  background-color: #e3e3e3; }
  .graph-bar span {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ed30a0; }

.params-bar {
  flex-grow: 5; }
  .params-bar span {
    width: 50%; }
  @media (max-width: 360px) {
    .params-bar {
      display: none; } }

.params-panel-num {
  width: 63px;
  padding-left: 15px; }
  @media (max-width: 360px) {
    .params-panel-num {
      padding-left: 5px; } }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.media {
  background: linear-gradient(to right, #ed30a0, #0b86a6); }

/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 
    2. Flow Flow Plugin Overrides

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */
/*  ==========================================================================
    1. 
    ========================================================================== */
.twitter {
  background: url("../images/bg-twitter-2-@2x.png") top center no-repeat;
  background-size: 100%, auto; }
  .twitter .section-title {
    position: relative; }
    .twitter .section-title:before {
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      width: 66px;
      height: 53px;
      background: url(../images/icon-twitter-white.svg) center center no-repeat;
      opacity: 0.5; }
      @media (max-width: 800px) {
        .twitter .section-title:before {
          top: -60px;
          width: 44px;
          height: 35px; } }
  @media (max-width: 800px) {
    .twitter {
      background-size: auto, auto; } }

/*  ==========================================================================
    2. Flow Flow Plugin Overrides
    ========================================================================== */
.ff-filter-holder {
  display: none !important; }

#ff-stream-1 .ff-loadmore-wrapper .ff-btn {
  background-color: #005872 !important;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase; }

.ff-tw-retweet:after {
  margin-left: 5px; }
