/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. 
    ========================================================================== */

    .categories-wrapper {
    	max-width: 1640px;
    	margin: 0 auto;
    }

    .categories {
    	background-image: $gradient-blue;
        .section-title {
            position: relative;
            &:before {
                position: absolute;
                top: -90px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                content: '';
                width: 73px;
                height: 66px;
                background: url(../images/icon-categories.svg) center center no-repeat;
                opacity: 0.5;
                @include breakpoint($break-800) {
                    top: -60px; // 2/3 original
                    width: 49px; // 2/3 original
                    height: 44px; // 2/3 original
                }
            }
        }
    }

    .categories-cta {
    	margin-top: 50px;
    	@extend .sans-semi;
    	@include font-size(14);
    	text-align: center;
    	text-transform: uppercase;
    }


	.category {
		position: relative;
		margin-top: 50px;
		padding: 74px 0px 0px;
		background: $dark-blue;
		border-radius: 3px;

		.category-image-wrapper {
			position: absolute;
			width: 100px;
			height: 100px;
			left: 50%;
			top: -50px;
			transform: translateX(-50%);
			background: $dark-blue;
			padding: 4px;
			border-radius: 50%;
		}
		.twitter-profile {
		    // display: inline-block;
			position: absolute;
		    width: 84px;
		    height: 84px;
			left: 8px;
			top: 8px;
		    border-radius: 50%;
		    border: solid 6px white;
		    &.slick-loading {
		        background: white url(../images/ajax-loader.gif) center center no-repeat;
		        padding-bottom: 100%;
		    }
		}

		.name {
			@extend .sans-light;
			@include font-size(24);
			text-align: center;
		}

		.job-title {
			margin-bottom: 40px;
			padding: 0px 21px;
			@extend .serif;
			@include font-size(16);
			text-align: center;
			color: $color-brand-1;
		}

		.category-title-wrapper {
			padding: 14px 7px;
			background: #e5eef1;
		}

		.category-title {
			// padding: 14px;
			background: #e5eef1;
			@extend .sans-semi;
			color: $dark-blue;
			text-align: center;
			text-transform: uppercase;
		}

		.category-winner {
			height: 160px;
		}

		.btn-expand-categories {
			position: absolute;
			width: 128px;
			height: auto;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			background: $color-brand-2;
			&:hover {
				background: $color-brand-1;
			}
		}

		.show-more {
			display: none;
			position: absolute;
			width: 80%;
			height: auto;
			bottom: 5px;
			left: 50%;
			transform: translateX(-50%);
			padding: 5px;
			background: #cccccc;

			p {
				width: 80%;
				float: left;
				color: white;
			}

			.close {
				width: 20%;
				float: left;
				color: red;
			}
		}
	}

	.category-top-5 {
		display: none;
	}

    
/*  ==========================================================================
    2. Categories Items Panel
    ========================================================================== */

    .categories-panel {
        opacity: 0;
        position: absolute;
        top: -120px;
        left: 5%;
        right: 5%;
        width: 90%;
        padding: 13px 14px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
        @include transition(all 0.3s $easeOutExpo);
        &:before {
            position: absolute;
            bottom: -13px;
            //left: 50%;
            //transform: translateX(-50%);
            left: 50%;
            transform: translateX(-50%);
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13px 26px 0 26px;
            border-color: #ffffff transparent transparent  transparent;
        }
        @include breakpoint($break-900) {
            &:before {
                right: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @include breakpoint(600px 640px) {
			left: 3%;
			right: 3%;
			width: 94%;
		}
        @include breakpoint(800px 840px) {
			left: 3%;
			right: 3%;
			width: 94%;
		}
        @include breakpoint(1024px 1145px) {
			left: 3%;
			right: 3%;
			width: 94%;
		}
    }

    .categories-panel-display {
        opacity: 1;
        // top: 70px;
        @include breakpoint($break-900) {
            // top: 110px;
        }
    }

    .categories-panel-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .categories-panel-item {
        display: flex;
        align-items: center;
        margin: 8px 0;
        padding: 0;
        display: flex;
        color: $dark-blue;
        @extend .sans-semi;
    }

    .categories-panel-index {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: $color-brand-2;
        color: white;
        text-align: center;
        @include font-size($font-12);
        line-height: 20px;
        margin-right: 10px;
    }

    .categories-panel-pos {
        width: 180px;
    }

    .categories-panel-link {
        color: $dark-blue;
        @include breakpoint(460px 480px) {
            @include font-size(12);
        }
        @include breakpoint(600px 710px) {
            @include font-size(12);
        }
        @include breakpoint(800px 930px) {
            @include font-size(12);
        }
        @include breakpoint(1024px 1145px) {
            @include font-size(12);
        }
    }

    .categories-panel-num {
        width: 63px;
        padding-left: 15px;
        @include breakpoint($break-360) {
            padding-left: 5px;
        }
    }