/*  ==========================================================================
    1. Disclaimer
    ========================================================================== */

.remodal-wrapper {
	@include breakpoint($break-700) {
		padding: 0;
	}
}

.disclaimer {
	background-color: white;
	position: relative;
	padding: 80px 30px 20px;
	max-height: 80vh;
	p {
		text-align: left;
	}
	@include breakpoint($break-700) {
		width: 100%;
		height: 100vh;
		max-height: 100vh;
		margin: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.disclaimer-wrapper {
	position: relative;
}

.disclaimer-header {
	position: absolute;
	width: 100%;
	height: 75px;
	top: -75px;
	left: 0;
}

.disclaimer-title {
	margin-top: 23px;
	text-transform: uppercase;
	@include font-size($font-28);
	@extend .sans-light;
	line-height: 1.2;
	color: $color-brand-1;
	@include breakpoint($break-800) {
		max-width: 90%;
		margin: 23px auto;
		text-align: center;
		@include font-size($font-24);
	}
	@include breakpoint($break-600) {
		max-width: 80%;
		margin: 25px auto;
		text-align: center;
		@include font-size($font-21);
	}
	@include breakpoint($break-500) {
		max-width: 50%;
		margin: 19px auto;
		text-align: center;
		@include font-size($font-18);
	}
}

.disclaimer-close {
	position: absolute;
	width: 60px;
	height: 60px;
	left: calc(100% - 68px);
	top: 8px;
	background-color: white;
	&:hover {
		background-color: $color-brand-1;
		&:before {
			background-position: -250px 0px;
		}
	}
	&:before {
		position: absolute;
		width: 32px;
		height: 32px;
		left: 14px;
		top: 14px;
		background: $sprites-x2 no-repeat;
		background-size: $sprites-x2-size;
		background-position: -300px 0px;
		content: '';
		font-size: 0;
	}
}

.disclaimer-content {
	overflow-y: scroll;
	max-height: calc(80vh - 180px);
	padding-right: 20px;
	@include breakpoint($break-700) {
		max-height: calc(100vh - 180px);
	}

	li {
		margin-bottom: 20px;
		text-align: left;
	}

	.disclaimer-point-title {
		@extend .sans-semi;
		text-align: left;
	}
	p {

	}
}

.disclaimer-ok {
	margin-top: 40px;
	@include breakpoint($break-400) {
		max-height: 20vh;
	}
}