/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. 
    ========================================================================== */

    .gains {
        position: relative;
        background: $gradient-pink-blue;
        background-size: auto;
        overflow: hidden;
        &:before {
            position: absolute;
            display: block;
            content: '';
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
            width: 1428px;
            height: 259px;
            background: url('../images/bg-gains.svg') top center no-repeat;
            opacity: 0.2;
            @include breakpoint($break-800) {
                top: 40px; 
                width: 952px; // 2/3 original
                height: 172px; // 2/3 original
            }
        }
    }

    .gains-wrapper {
        position: relative;
        @extend %module;
    }

    .gains-info-wrapper {
        position: relative;
        width: 472px;
        height: 460px;
        margin: 80px auto 0;
    }

    .gains-info {
        display: block;
        width: 472px;
        height: 460px;
    }

    .gains-people {
        position: absolute;
        width: 400px;
        top: -11px;
        left: 338px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gains-people-item {
        margin: 0 0 2px;
    }

    .gains-people-name {
        margin: 0;
        @include font-size($font-14);
        span {
            text-transform: uppercase;
        }
    }

    .gains-people-title {
        margin: 0;
        @extend .serif;
        color: #003241;
    }













