/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. 
    ========================================================================== */

    .gains {
        position: relative;
        background: $gradient-pink-blue;
        background-size: auto;
        overflow: hidden;
        &:before {
            position: absolute;
            display: block;
            content: '';
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
            width: 1428px;
            height: 259px;
            background: url('../images/bg-gains.svg') top center no-repeat;
            opacity: 0.2;
            @include breakpoint($break-800) {
                top: 40px; 
                width: 952px; // 2/3 original
                height: 172px; // 2/3 original
            }
        }
    }

    .gains-wrapper {
        position: relative;
        @extend %module;
    }

    .gains-info-wrapper {
        position: relative;
        width: 472px;
        height: 460px;
        margin: 80px auto 0;
        @include breakpoint($break-700) {
            float: left;
            margin-top: 40px;
            height: auto;
            width: auto;
            left: 50%;
            transform: translateX(-40%);
        }
    }

    .gains-info {
        display: block;
        width: 472px;
        height: 460px;
        @include breakpoint($break-700) {
            display: none;   
        }
    }

    .gains-people {
        position: absolute;
        width: 300px;
        top: -11px;
        left: 338px;
        margin: 0;
        padding: 0;
        list-style: none;
        @include breakpoint($break-700) {
            position: static;
            width: auto;
        }
    }

    .gains-people-item {
        margin: 0 0 2px;
        @include breakpoint($break-700) {
            margin-bottom: 20px;
        }
    }

    .gain-title {
        position: relative;
        margin: 0;
        @include font-size($font-14);
    }

    .gain-number {
        display: none;
        @include breakpoint($break-700) {
            position: absolute;
            top: -5px;
            left: -50px;
            display: block;
            color: #003241;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: white;
            text-align: center;
            padding-top: 11px;
        }
    }

    .gain-name {
        text-transform: uppercase;
    }

    .gain-job {
        margin: 0;
        @extend .serif;
        color: #003241;
    }













