/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Header

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */

/*  ==========================================================================
    1. Header
    ========================================================================== */

	.header {
		background: url('../images/bg-header-opt-@2x.png') top center no-repeat, linear-gradient(to right, #39bdcd, #00a2d1 48%, #005872 );
		background-size: cover;
		height: 100%;
		max-height: calc(100% - 50px);
		min-height: 450px;

		@include breakpoint($break-1200) {
			height: auto;
			min-height: 1px;
			max-height: 10000px;
		}

		@include breakpoint($break-700) {
			height: auto;
			min-height: 1px;
			max-height: 10000px;
		}

		@include breakpoint($break-1000h) {
			height: auto;
			min-height: 1px;
			max-height: 10000px;
		}

	}

	.header-inner {
		@extend %module;
		height: 100%;
		position: relative;
	}

	.header-top {
		@include cf();
	}

	.murray-logo {
		display: block;
		width: 56px;
		height: auto;
		margin-top: 34px;
		margin-left: 30px;
		float: left;
    }

    .murray-subtitle {
    	display: block;
    	float: left;
    	margin: 56px 0 0 20px;
		@extend .serif-italic;
		@include font-size($font-18);
		color: $color-text-2;
		span {
			color: white;
		}
    }

    .header-content {
    	position: absolute;
    	right: 0px;
    	top: 50%;
    	transform: translateY(-55%);
    	padding: 0 20px;
    	overflow: hidden;
    	@include breakpoint($break-1200) {
			position: static;
			transform: none;
			padding-top: 30px;
			padding-bottom: 100px;
		}
		// @include breakpoint($break-700) {
		// 	position: static;
		// 	transform: none;
		// 	padding-top: 30px;
		// 	padding-bottom: 50px;
		// }
		@include breakpoint($break-1000h) {
			position: static;
			transform: none;
			padding-top: 30px;
			padding-bottom: 100px;
		}
    }

    .header-logo {
    	display: block;
    	position: relative;
    	right: -10%;
    	min-width: 240px;
    	@include breakpoint($break-700) {
			max-width: 300px;
			right: -30px;
			float: right;
		}
		@include breakpoint($break-320) {

			max-width: 260px;
			right: -24px;
		}
		@include breakpoint($break-1000h) {
			width: 50vw;
			float: right;
			right: 0;
		}
    }

    .header-intro {
		max-width: 700px;
		float: right;
		margin: 30px 10% 0;
		@extend .serif-italic;
		@include font-size($font-21);
		text-align: right;
		span {
			color: $color-text-2;
		}
		@include breakpoint($break-700) {
			margin: 30px 30px 0;
			@include font-size($font-18);
		}
		@include breakpoint($break-320) {
			@include font-size($font-16);
		}
    }

/*  ==========================================================================
    2. 
    ========================================================================== */

    