/*  ==========================================================================
    ==========================================================================

    HEADER
    1. Section

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. Section
    ========================================================================== */

    %module {
        max-width: 1640px;
        margin: 0 auto;
    }

    .section {
        padding: 150px 20px;
        @include breakpoint($break-800) {
            padding: 100px 20px;
        }
    }


    .section-title, .section-intro {
        margin: 0 auto 20px;
        max-width: 800px;
        padding: 0 20px;
        text-align: center;
    }

    // .section-title {
    //     text-transform: uppercase;
    //     @include font-size($font-48);
    //     @extend .sans-light;
    //     line-height: 1.2;
    //     opacity: 0;
    //     transform: translateY(30px);
    //     transition: all 1s $easeOutCirc;
    //     .in-scene & {
    //         opacity: 1;
    //         transform: translateY(0);
    //     }
    //     @include breakpoint($break-800) {
    //         @include font-size($font-28);
    //     }
    // }

    // .section-intro {
    //     @include font-size($font-21);
    //     @extend .serif;
    //     //opacity: 0.5;
    //     line-height: 1.4;
    //     opacity: 0;
    //     transform: translateY(30px);
    //     transition: all 1s $easeOutCirc 0.2s;
    //     .in-scene & {
    //         opacity: 0.5;
    //         transform: translateY(0);
    //     }
    //     @include breakpoint($break-800) {
    //         @include font-size($font-18);
    //     }
    //     @include breakpoint($break-800) {
    //         padding: 0;
    //     }
    // }


    .section-title {
        text-transform: uppercase;
        @include font-size($font-48);
        @extend .sans-light;
        line-height: 1.2;
        opacity: 0;
        .touch & {
            opacity: 1;
        }
        //transform: translateY(30px);
        //transition: all 1s $easeOutCirc;
        .in-scene & {
            // opacity: 1;
            // transform: translateY(0);
            animation: fadeInUp 1.5s $easeOutCirc 0s forwards;
        }
        @include breakpoint($break-800) {
            @include font-size($font-28);
        }
    }



    .section-intro {
        @include font-size($font-21);
        @extend .serif;
        //opacity: 0.5;
        line-height: 1.4;
        opacity: 0;
        .touch & {
            opacity: 1;
        }
        //transform: translateY(30px);
        //transition: all 1s $easeOutCirc;
        .in-scene & {
            // opacity: 0.5;
            // transform: translateY(0);
            animation: fadeInUpHalf 1.5s $easeOutCirc 0.2s forwards;
        }
        @include breakpoint($break-800) {
            @include font-size($font-18);
        }
        @include breakpoint($break-800) {
            padding: 0;
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0.0;
            transform: translateY(30px);       
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }       
    }
    @keyframes fadeInUpHalf {
        from {
            opacity: 0.0;
            transform: translateY(30px);       
        }
        to {
            opacity: 0.5;
            transform: translateY(0);
        }       
    }

   