/*  ==========================================================================
    ==========================================================================

    HEADER
    1. General
    2. Badge
    3. List

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. General
    ========================================================================== */

    .top-100 {
        background-color: white;
        padding-bottom: 1px;
    }

    .top-100-wrapper {
        @extend %module;
        color: $color-text-2;
    }


/*  ==========================================================================
    2. Badge
    ========================================================================== */

    .top-100-badge-link {
        display: block;
        position: relative;
        top: -143px;
        margin: 0 auto;
        width: 286px;
        height: 286px;
        border-radius: 143px;
        background-color: white;
        // @include breakpoint($break-1200) {
        //     top: 0;
        // }
        @include breakpoint($break-1200) {
            width: 120px;
            height: 120px;
            top: -60px;
            border-radius: 60px;
        }
        @include breakpoint($break-1000h) {
            width: 120px;
            height: 120px;
            top: -60px;
            border-radius: 60px;
        }
    }

    .top-100-badge {
        position: absolute;
        top: 18px;
        left: 18px;
        width: 250px;
        height: 250px;
        border-radius: 125px;
        margin: 0 auto;
        padding-top: 55px;
        background-color: $color-brand-2;
        background: linear-gradient(to right, $color-brand-2, #805aa3);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.22);
        color: white;
        text-align: center;
        @include font-size($font-48);
        @extend .sans-semi;
        line-height: 0.9;
        text-transform: uppercase;
        span {
            display: block;
            @include font-size($font-100);
            @extend .sans-light;
        }
        @include breakpoint($break-1200) {
            top: 10px;
            left: 10px;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            padding-top: 33px;
            line-height: 1;
            @include font-size($font-24);
            span {
                @include font-size($font-18);
            }
        }
        @include breakpoint($break-1000h) {
            top: 10px;
            left: 10px;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            padding-top: 33px;
            line-height: 1;
            @include font-size($font-24);
            span {
                @include font-size($font-18);
            }
        }
    }

/*  ==========================================================================
    3. List
    ========================================================================== */

    .top-device {
        position: relative;
        width: 1106px;
        height: 782px;
        margin: -120px auto 0;
        background: url(../images/ipad.svg) top left no-repeat;
        @include breakpoint($break-1200) {
            width: 561px;
            height: 831px;
            margin-top: -50px;
            background: url(../images/ipad-mini.svg) top left no-repeat;
        }
        @include breakpoint($break-700) {
            width: auto;
            height: auto;
            margin: -50px 20px 0;
            padding: 10px 0 10px;
            background-image: none;
            border-top: 1px solid $color-brand-1;
            border-bottom: 1px solid $color-brand-1;
        }
        @include breakpoint($break-1000h) {
            //margin-top: 0;
        }
    }

    .top-list-wrapper {
        position: absolute;
        top: 53px;
        left: 104px;
        width: 878px;
        height: 656px;
        margin: 10px 0px 9px 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        @include breakpoint($break-1200) {
            width: 473px;
            height: 640px;
            top: 95px;
            left: 44px;
            margin: 0;
            //background: red;
        }
        @include breakpoint($break-700) {
            width: 100%;
            height: 320px;
            position: static;
        }
    }

    .top-list {
        margin: 0;
        padding: 0;
        list-style: none;
        @include cf();
    }

    .top-item {
        position: relative;
        width: 415px;
        margin: 0 0 1px;
        padding: 0;
        float: left;
        &:nth-of-type(even) {
            margin-left: 23px;
        }
        &:after, &:before {
            display: block;
            content: '';
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
            margin-left: 70px;
            margin-top: 1px;
        }
        &:before {
            position: absolute;
            width: 345px;
            bottom: -1px;
            background-color: white;
        }
        @include breakpoint($break-1200) {
            float: none;
            width: 473px;
            &:nth-of-type(even) {
                margin-left: 0;
            }
        }
        @include breakpoint($break-700) {
            width: auto;
            &:after, &:before {
                display: none;
            }
        }
        @include breakpoint($break-1201) {
            &:nth-of-type(4n + 1), &:nth-of-type(4n + 2)  {
                .top-bar {
                    background-color: $bright-blue;
                }
                .top-num {
                    background-color: $color-brand-1;
                }
            }
            &:nth-of-type(4n + 3), &:nth-of-type(4n + 4)  {
                .top-image-wrapper {
                    background-color: $bright-blue;
                }
            }
        }
        &:first-child {
            .top-bar {
                background-color: $color-brand-2;
            }
        }
    }

    .top-link {
        position: relative;
        display: block;
        height: 63px;
        color: white;
        padding-top: 11px;
        &:hover {
            color: white;
        }
        @include breakpoint($break-500) {
            padding-top: 0;
        }
    }

    .top-image-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 62px;
        height: 62px;
        border-radius: 36px;
        background-color: $color-brand-1;
    }

    .top-image {
        position: absolute;
        top: 4px;
        left: 4px;
        display: block;
        width: 54px;
        height: 54px;
        border-radius: 27px;
        border: 3px solid white;
    }

    .top-bar {
        display: -ms-flexbox;
        display: flex;
        height: 41px;
        border-radius: 4px;
        background-color: $color-brand-1;
        margin-left: 52px;
        padding-left: 0px;
        @include font-size($font-16);
        @include breakpoint($break-700) {
            font-family: 'open-sans', $fallback-stack;
            font-weight: 600;
            font-style: normal;
            @include font-size($font-14);
        }
        @include breakpoint($break-500) {
            display: block;
            position: relative;
            height: 60px;
            margin-left: 72px;
        }
    }

    .top-num {
        flex-basis: 13%;
        padding-top: 8px;
        padding-left: 8px;
        border-right: 1px solid #f6f6f6;
        background-color: $bright-blue;
        color: white;
        text-align: center;
        @extend .sans-semi;
        @include breakpoint($break-700) {
            padding-top: 10px;
        }
        @include breakpoint($break-500) {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 100%;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 18px 0 0;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 24px;
                left: -5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 5px 6px 0;
                border-color: transparent $bright-blue transparent transparent;
            }
        }
    }

    .top-handle, .top-name {
        padding-top: 8px;
        padding-left: 10px;
        @include breakpoint($break-700) {
            padding-top: 10px;
        }
        @include breakpoint($break-500) {
            padding: 10px 10px 0 53px;
        }
    }

    .top-handle {
        //flex-grow: 1;
        width: 158px;
    }

    .top-name {
        //flex-grow: 1.5;
        @include breakpoint($break-500) {
            @include font-size($font-12);
            padding-top: 0;
            font-family: 'ff-meta-serif-web-pro', $fallback-stack;
            font-weight: 500;
            font-style: normal;
        }
    }


























