/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. 
    ========================================================================== */

    .twitter {
        background: url('../images/bg-twitter-2-@2x.png') top center no-repeat;
        background-size: 100%, auto;
        .section-title {
            position: relative;
            &:before {
                position: absolute;
                top: -90px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                content: '';
                width: 66px;
                height: 53px;
                background: url(../images/icon-twitter-white.svg) center center no-repeat;
                opacity: 0.5;
                @include breakpoint($break-800) {
                    top: -60px; // 2/3 original
                    width: 44px; // 2/3 original
                    height: 35px; // 2/3 original
                }
            }
        }
        @include breakpoint($break-800) {
            background-size: auto, auto;
        }
    }

    .twitter-wrapper {
        @extend %module;
    }