/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. 
    ========================================================================== */

    .footer {
        background-color: $dark-blue;
        border-top: 47px solid white;
        color: #6ac1db;
        a {
            color: white;
            &:hover, &:focus {
                color: white;
            }
        }
    }

    .footer-wrapper {
        display: flex;
        max-width: 1320px;
        margin: 0 auto;
        padding: 70px 20px 90px;
        @include breakpoint($break-700) {
            display: block;
        }
    }

    .methodology {
        padding-right: 30px; 
    }

    .deets {
        padding-left: 30px;
    }

    .methodology, .deets {
        width: 50%;
        @include breakpoint($break-700) {
            width: 100%;
            padding: 0;
        }
    }

    .footer-title {
        margin: 0 0 20px;
        @include font-size($font-16);
        text-transform: uppercase;
        color: white;
    }

    .methodology-content {
        display: flex;
        @include breakpoint($break-700) {
            display: block;
        }
    }

    .method-intro {
        max-width: 544px;
    }

    .method-list {
        max-width: 564px;
        margin: 21px 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 40px;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        counter-reset: colnum;
        padding-left: 16px;
        @include breakpoint($break-400) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
        > li {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    .contact {
        margin-bottom: 42px;
        a {
            color: white;
            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
         @include breakpoint($break-700) {
            margin-top: 42px;
         }
    }

    .twitter-follow {
        margin-bottom: 42px;
        a:before {
            display: inline-block;
            content: '';
            width: 27px;
            height: 22px;
            margin-right: 10px;
            background: url('../images/icon-twitter-white.svg') top left no-repeat;
        }
    }

    .credit {
        text-transform: uppercase;
        @include font-size($font-11);
    }

    .mc-logo-link {
        display: block;
        margin: 10px 0 0 1px;
        width: 64px;
        height: auto;
        margin-bottom: 42px;
    }

    .copyright {
        //text-align: right;
        a {
            color: white;
        }
    }

    .mti-twitter-share {
        display: block;
        position: fixed;
        z-index: 10000;
        right: 20px;
        bottom: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding-top: 40px;
        background-color: $color-brand-2;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
        text-align: center;
        @include font-size($font-12);
        text-transform: uppercase;
        color: white;
        &:after {
            position: absolute;
            //z-index: 2;
            top: 16px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            content: '';
            width: 27px;
            height: 22px;
            background: url('../images/icon-twitter-white.svg') top left no-repeat;
        }
        &:hover, &:active, &:focus {
            color: white;
        }
        @include breakpoint($break-700) {
            right: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            span {
                display: none;
            }
        }
    }







