/*  ==========================================================================
    ==========================================================================

    HEADER
    1. 

    CSS FORMATTING
    1. Positioning
    2. Display & Box Model
    3. Text
    4. Other

    ==========================================================================
    ========================================================================== */


/*  ==========================================================================
    1. 
    ========================================================================== */

    .footer {
        background-color: $dark-blue;
        border-top: 47px solid white;
        color: $color-brand-1;
    }

    .footer-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 70px 20px;
    }

    .methodology {

    }

    .footer-title {
        margin: 0 0 20px;
        @include font-size($font-16);
        text-transform: uppercase;
    }

    .methodology-content {
        display: flex;
        @include breakpoint($break-700) {
            display: block;
        }
    }

    .method-intro {
        max-width: 544px;
    }

    .method-list {
        max-width: 544px;
        margin: 0 0 0 40px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 40px;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        counter-reset: colnum;
        @include breakpoint($break-700) {
            margin-left: 0px;
            margin-top: 21px;
        }
        @include breakpoint($break-400) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
        > li {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    .contact {
        max-width: 544px;
        margin-top: 30px;
        a {
            color: white;
            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }

    .footnote {
        display: flex;
        align-items: flex-end;
        margin-top: 50px;
        > * {
            flex-basis: 50%;
        }
    }

    .credit {
        text-transform: uppercase;
        @include font-size($font-11);
    }

    .mc-logo-link {
        display: block;
        margin: 10px 0 0 1px;
        width: 64px;
        height: auto;
    }

    .copyright {
        text-align: right;
        a {
            color: white;
        }
    }