/* 	==========================================================================
   	Typography
   	========================================================================== */

	$fallback-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;

	// Font Sizes
	$base-font-size: 62.5%; // Sets up the Base 10 stuff 

	$font-12: 12;
	$font-14: 14;
	$font-16: 16;
	$font-18: 18;
	$font-21: 21;
	$font-24: 24;
	$font-28: 28;
	$font-30: 30;
	$font-32: 32;
	$font-36: 36;
	$font-48: 48;
	$font-72: 72;
	$font-100: 100;

	$h1-font-size: 37;
	$h2-font-size: 23;
	$h3-font-size: 18;
	$h4-font-size: 16;
	$h5-font-size: 16;
	$h6-font-size: 14;
	$body-font-size: 14;

	// Line height
	$base-line-height: 1.5; 
	$header-line-height: 1.25;

	// Other Sizes
	$base-border-radius: 3px;
	$base-spacing: $base-line-height * 1rem;
	$base-z-index: 0;

/* 	==========================================================================
   	Breakpoints
   	========================================================================== */

	// max widths
	$break-320: max-width 320px;
	$break-360: max-width 360px;
	$break-500: max-width 500px;
	$break-700: max-width 700px;
	$break-800: max-width 800px;
	$break-900: max-width 900px;
	$break-1200: max-width 1200px;
	$break-1600: max-width 1600px;

	$break-params: 700px 1200px;

	// max heights
	$break-700h: max-height 700px;
	$break-1000h: max-height 1000px;

/* 	==========================================================================
   	Colours
   	========================================================================== */

	// Brand Colours Variables
	$color-brand-1: #00a2d1; // light blue
	$color-brand-2: #ed30a0; // pink

	$bright-blue: #39bccd;
	$dark-blue: #005872;

	// dark colours get lighter with increasing number
	$color-dark-ui-1: $dark-blue;
	$color-dark-ui-2: #242b2f;
	$color-dark-ui-3: #353c40;
	// light colours get lighter with increasing number
	$color-light-ui-1: #d3d3d3;
	$color-light-ui-2: #e8e8e8;
	// text colours get lighter with increasing number
	$color-text-1: #ffffff; // white
	$color-text-2: $dark-blue;	// navy blue
	$color-text-3: #c1c0c0; // 

	// Background Color
	$base-background-color: #00a2d1;;

	// Font Colors
	$base-font-color: $color-text-1;
	$base-accent-color: $color-brand-1;

	// Link Colors
	$base-link-color: $color-brand-1;
	$hover-link-color: darken($color-brand-1, 15);
	$base-button-color: $color-brand-1;
	$hover-button-color: $hover-link-color;

	// Border color
	$base-border-color: $color-light-ui-2;
	$base-border: 1px solid $base-border-color;

	// Forms
	$form-border-color: $base-border-color;
	$form-border-color-hover: darken($base-border-color, 10);
	$form-border-color-focus: $base-accent-color;
	$form-border-radius: $base-border-radius;
	$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
	$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);

	//Misc
	$selection: $color-brand-1; // cursor selection colour

	// Gradients
	$gradient-pink-blue: linear-gradient(to right, $color-brand-2, #0b86a6);
    $gradient-blue: linear-gradient( $color-brand-1,  #014b61 );
    $gradient-blue-pink: linear-gradient(to right, #005872, #a63c92);


/* 	==========================================================================
   	Transitions
   	========================================================================== */

	$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
	$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

	$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

	$easeOutBackCustom: cubic-bezier(0.525, 1.650, 0.475, 1.005);





